* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color1);
    font-family:sans-serif;
}
:root {
    --color1: rgb(50, 177, 188);
    --color2: rgba(104, 207, 104, 0.516);
    --color3: rgb(255,102,102);

}
.header {
    background-color: rgba(104, 207, 104, 0.516);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border: 1px solid rgb(18, 224, 18);
    border-radius: 0 0 50px 50px;
}

input {
    margin: 0;
    border: none;
    border-radius: 50px 0 0 50px;
   padding: 20px;
    border-right: none;
    height: 50px;
    width: 80%;
    font-size: 16px;
}
.addBtn {
    height: 50px;
    border-radius: 0 50px 50px 0;
    padding: 15px;
    width: 25%;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: var(--color3);
    transition-duration: 0.3s;
}

.addBtn:hover {
    background-color: rgba(18, 224, 18, 0.144);
}
.middle{
    display: flex;
    width: 80%;
    padding: 20px;
}
h1{
    font-size: 30px;
    
}
#UL{
    width: 90%;
}
.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul {
    margin-top: 20px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px;
    background: var(--color2);
    color: white;
    font-size: 18px;
    border: 1px solid rgb(18, 224, 18);
    transition-duration: 0.5s;
    list-style: none;
    border-radius: 50px
}

ul li:hover {
    background:var(--color2);
    color: white;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    padding: 10px 15px;
    transition-duration: 0.4s;
}

.close:hover {
    background-color: var(--color3);
    color: white;
    border-radius: 0px 50px 50px 0;
}